<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.ecoinsight.board.model.dao.BoardMapper">
    <insert id="uploadImage" parameterType="com.semi.ecoinsight.board.model.vo.Attachment">
    INSERT 
    INTO
    <choose>
        <when test="boardType == 'community'">
            TB_COMMUNITY_ATTACHMENT_IMG
        </when>
        <when test="boardType == 'auth'">
            TB_AUTH_ATTACHMENT_IMG
        </when>
        <when test="boardType == 'notice'">
            TB_NOTICE_ATTACHMENT_IMG
        </when>
    </choose>
    (BOARD_NO, ATTACHMENT_ITEM)
    VALUES(
        #{boardNo},
        #{boardType}
    )

    </insert>

</mapper>