<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.ecoinsight.community.model.dao.CommunityMapper">

	<sql id="communityBoardColumn">
		SELECT 
			 , C_BOARD_NO cBoardNo
			 , MEMBER_NO memberNo
			 , CATEGORY_ID categoryId
			 , CREATE_DATE createDate
	</sql>


	<insert id="insertCommunityBoard" parameterType="Community">
		INSERT 
		  INTO
		       TB_COMMUNITY_BOARD
		        (
			     MEMBER_NO 
			   , CATEGORY_ID 
			   , C_BOARD_TITLE 
			   , C_BOARD_CONTENT 
			   , CREATED_DATE
			   , VIEW_COUNT 				
			   , IS_DELETED 
			    )
	    VALUES 
	    	  (
				 #{memberNo}
			   , #{categoryId}
			   , #{cBoardTitle}	
			   , #{cBoardContent}
			   , SYSDATE
			   , 0
			   , 'N'
			  )  
	</insert>
	<select id="findAllCommunity" resultType="com.semi.ecoinsight.community.model.dto.CommunityMapper">
		<include refid="communityBoardColumn"/>
			FROM 
				  TB_COMMUNITY_BOARD
			JOIN
			   	  TB_
	</select>

</mapper>
