<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.ecoinsight.report.model.dao.ReportMapper">

  <sql id="reportCommonColumns">
    REPORTER,
    REPORT_CATEGORY_NO
  </sql>

  <sql id="reportCommonValues">
    #{reporter},
    #{reportCategoryNo}
  </sql>

  <insert id="insertCommunityBoardReport"
          parameterType="com.semi.ecoinsight.report.model.vo.CommunityBoardReport">
    INSERT INTO TB_COMMUNITY_REPORT (
      REPORT_NO,
      C_BOARD_NO,
      <include refid="reportCommonColumns"/>,
      REPORT_CONTENT
    ) VALUES (
      SEQ_REPORT_BOARD.NEXTVAL,
      #{communityBoardNo},
      <include refid="reportCommonValues"/>,
      #{reportContent}
    )
  </insert>

  <insert id="insertAuthBoardReport"
          parameterType="com.semi.ecoinsight.report.model.vo.AuthBoardReport">
    INSERT INTO TB_AUTH_BOARD_REPORT (
      REPORT_NO,
      AUTH_BOARD_NO,
      <include refid="reportCommonColumns"/>,
      REPORT_CONTENT
    ) VALUES (
      SEQ_REPORT_BOARD.NEXTVAL,
      #{authBoardNo},
      <include refid="reportCommonValues"/>,
      #{reportContent}
    )
  </insert>

  <insert id="insertCommunityCommentReport"
          parameterType="com.semi.ecoinsight.report.model.vo.CommunityCommentReport">
    INSERT INTO TB_COMMUNITY_CMT_REPORT (
      CMT_REPORT_NO,
      <include refid="reportCommonColumns"/>,
      CMT_REPORT_CONTENT
    ) VALUES (
      SEQ_REPORT_CMT.NEXTVAL,
      <include refid="reportCommonValues"/>,
      #{cmtReportContent}
    )
  </insert>

  <insert id="insertAuthCommentReport"
          parameterType="com.semi.ecoinsight.report.model.vo.AuthCommentReport">
    INSERT INTO TB_AUTH_BOARD_CMT_REPORT (
      CMT_REPORT_NO,
      <include refid="reportCommonColumns"/>,
      CMT_REPORT_CONTENT
    ) VALUES (
      SEQ_REPORT_CMT.NEXTVAL,
      <include refid="reportCommonValues"/>,
      #{cmtReportContent}
    )
  </insert>

</mapper>